.mas-m-height {
    height: var(--pf-c-dropdown__menu--ZIndex	
    20);
  } 
  .mas-m-height2 {
    height: var(--pf-c-dropdown__menu-item-icon--Height	
    0.5rem);
  }
  .mas-m-width {
    width: var(--pf-c-form-control--textarea--Width
    50%);
  } 
  .mas-m-color {
      color: var(--pf-global--primary-color--100);     
  }
