/* TextContent dl customizations */
.mas--CreateKafkaInstance__sidebar .pf-c-content dl {
  display: block;
}
.mas--CreateKafkaInstance__sidebar dt {
  font-size: var(--pf-global--FontSize--sm);
}
.mk--create-instance-modal__alert--message {
  margin-top: var(--pf-global--spacer--md);
}
