.mas--CreateKafkaInstance__CloudProviderTile {
  margin-right: var(--pf-global--spacer--xs);
}
.mas--CreateKafkaInstance__CloudProviderTile--Icon {
  margin-right: var(--pf-global--spacer--md);
}

.mas--CreateKafkaInstance__CloudProviderTile--select {
  display: none;
}
