.consumer-group-drawer__top-label {
  margin-bottom: 0 !important;
}

.consumer-group-drawer__title {
  margin-top: 0 !important;
}

.consumer-group-drawer__drawer-content-body {
  display: flex;
  flex-direction: column;
}
