/* For read only form groups, adjust to look like plain text */
.kafka-ui-form-group--readonly .pf-c-form-control[readonly] {
  --pf-c-form-control--readonly--BackgroundColor: transparent;
  --pf-c-form-control--readonly--focus--PaddingBottom: 0;
  border: none;
  padding: 0;
}

.kafka-ui-form-group--readonly .pf-c-form__group-label {
  --pf-c-form__group-label--PaddingBottom: 0;
}
