.pf-c-label.mas-m-solid.mas-m-text {
  --pf-c-label__content--before--BorderColor: transparent;
  --pf-c-label__content--Color: var(--pf-global--palette--white);
  display: inline-flex;
  justify-content: center;
}

.pf-c-label.mas-m-solid.mas-m-blue {
  --pf-c-label--BackgroundColor: var(--pf-global--palette--blue-400);
}

.pf-c-label.mas-m-solid.mas-m-grey {
  --pf-c-label--BackgroundColor: var(--pf-global--palette--black-600);
}

.pf-c-label.mas-m-solid.mas-m-green {
  --pf-c-label--BackgroundColor: var(--pf-global--palette--green-500);
}

.pf-c-label.mas-m-solid.mas-m-orange {
  --pf-c-label--BackgroundColor: var(--pf-global--palette--orange-400);
}

.box {
  inline-size: 750px;
  padding-left: 1rem;
}

.child {
  display: inline-block;
}

.myTextColor span {
  color: rgb(234, 0, 255);
}

:root .pf-c-chip-group.mas-m-resource-group {
  background-color: var(--pf-c-label--BackgroundColor);

  --pf-c-chip-group--m-category--PaddingTop: 0;
  --pf-c-chip-group--m-category--PaddingBottom: 0;
}

.pf-c-chip.mas-m-custom-chip {
  --pf-c-chip--PaddingTop: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingRight: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingBottom: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingLeft: var(--pf-global--BorderWidth--sm);

  --pf-c-chip__text--MaxWidth: auto;
  display: table-row;
  background-color: var(--pf-c-label--BackgroundColor);
  --pf-c-label--BackgroundColor: var(--pf-global--palette--black-200);
}

:root .pf-c-chip-group__close {
  display: flex;
  align-self: center;
}

.pf-c-chip-group.mas-m-bar {
  --pf-c-chip-group--m-category--BackgroundColor: darkgray;
}

.pf-m-overflow:not(.pf-c-chip__text *) {
  background-color: white !important;
  line-height: 2.05;
}
