/* This needs to be used when a spefic background color needs to be used */
/* (Any color expect grey)*/

.box {
  inline-size: 750px;
  padding-left: 1rem;
}

.child {
  display: inline-block;
}

.myTextColor span {
  color: rgb(234, 0, 255);
}

:root .pf-c-chip-group.mas-m-resource-group {
  background-color: var(--pf-c-label--BackgroundColor);

  --pf-c-chip-group--m-category--PaddingTop: 0;
  --pf-c-chip-group--m-category--PaddingBottom: 0;
}

.pf-c-chip.mas-m-custom-chip {
  --pf-c-chip--PaddingTop: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingRight: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingBottom: var(--pf-global--BorderWidth--sm);
  --pf-c-chip--PaddingLeft: var(--pf-global--BorderWidth--sm);

  --pf-c-chip__text--MaxWidth: auto;
  display: table-row;
  background-color: var(--pf-c-label--BackgroundColor);
  --pf-c-label--BackgroundColor: var(--pf-global--palette--black-200);
}

:root .pf-c-chip-group__close {
  display: flex;
  align-self: center;
}

.pf-m-overflow:not(.pf-c-chip__text *) {
  background-color: white !important;
  line-height: 2.05;
}
